.page-container {
    max-width: 1400px;
    margin: 5rem auto;
    display: flex;
    justify-content: space-around;
    gap: 10rem;
    align-items: center;
    padding: 0 1%;
}

.content-container {
    flex: 2;
    min-width: 250px;
    max-width: 700px;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(174, 133, 133);
}

h1 {
    text-align: center;
    font-size: 3rem;
    border-bottom: 0.1rem solid rgb(174, 133, 133);
    margin-bottom: 3rem;
    margin-top: 0;
    color: rgb(174, 133, 133);
}

h3 {
    text-align: center;
    color: rgb(174, 133, 133);
    font-size: 2rem;
}

ul {
    list-style: none;
}

li {
    padding: 2rem;
}

select,
input,
textarea {
    width: 95%;
    padding: 1rem;
    border: 1px solid rgb(174, 133, 133);
    border-radius: 6px;
}

input::placeholder {
    color: rgb(174, 133, 133);
}

input[type="checkbox"] {
    accent-color: rgb(174, 133, 133);
    border: 1px solid rgb(174, 133, 133);
}

input:focus,
textarea:focus {
    outline: none;
    border-color: rgb(174, 133, 133);
}

.content-container label {
    margin-top: 1rem;
    display: block;
    font-weight: medium;
    margin-bottom: 0.5rem;
    color: rgb(174, 133, 133);
}

.submit-btn {
    background-color: rgb(206, 166, 166);
    color: rgb(246, 223, 18);
    font-size: larger;
    font-weight: bold;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 10px rgb(234, 218, 75);
    margin-bottom: 1rem;
}

.edit-btn {
    background-color: rgb(206, 166, 166);
    color: rgb(246, 223, 18);
    font-size: larger;
    font-weight: bold;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
    width: 10%;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 10px rgb(234, 218, 75);
    margin-bottom: 1rem;
}